.projects {
  padding-top: 3%;
  background-color: rgba(0, 0, 0, 0.788);
  padding-bottom: 8%;
}

.group_card {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 20px;
  margin-top: 5%;
  user-select: none;
}

.project_img1 {
  background-image: url("../../images/purplle.png");
  background-size: 100% 100%;
}

.project_img2 {
  background-image: url("../../images/strawberry.png");
  background-size: 102% 102%;
}

.svg_group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.svg_group > svg {
  color: #ef1932;
}

.btg_group {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px 20px;
  margin: 0px auto;
}

.btn_action:hover {
  background-color: #ef1932 !important;
}

.card_1 {
  background-color: #1c1c1c;
  display: flex;
  flex-direction: row;
  height: 220px;
  width: 60%;
  padding: 3%;
}

.card_area,
.card_box {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 800px) {
  .card_1 {
    display: flex;
    flex-direction: column;
    height: 500px;
  }
  .card_area,
  .card_box {
    width: 100%;
    height: 50%;
  }
}
